{% extends "base.html" %}

{% block title %}оставить отзыв{% endblock title %}

{% block content %}

<div class="create">
  <h1 class="create__title">оставить отзыв</h1>
  <form method="post" class="create__form">
    {% csrf_token %}

    <div class="create__rating-group">
      {% for radio in form.rating %}
        <div class="create__rating-item">
          <label for="{{ radio.id_for_label }}" class="create__rating-label">
            {{ radio.tag }} <!-- класс подставляем через forms.py -->
            <span class="create__rating-text">{{ radio.choice_label }}</span>
          </label>
        </div>
      {% endfor %}
    </div>

    {{ form.name }}

    {{ form.comment }}

    <button class="create__button" type="submit">отправить</button>
  </form>
</div>

{% endblock content %}

