{% extends "base.html" %}

{% block title %}оставить отзыв{% endblock title %}

{% block content %}

<form method="post" class="reviews-form">
  {% csrf_token %}

  <!-- Поле оценки (звёзды) -->
  <div class="rating-group">
    {{ form.rating }}
  </div>

  <!-- Поле имени -->
  <div class="form-field">
    {{ form.name }}
  </div>

  <!-- Поле комментария -->
  <div class="form-field">
    {{ form.comment }}
  </div>

  <button type="submit" class="submit-btn">оставить свой отзыв</button>
</form>


{% endblock content %}