{% extends "base.html" %}

{% block title %}отзывы{% endblock title %}

{% block content %}

<div class="reviews">
  <h1 class="reviews__title">отзывы</h1>

  <div class="reviews__summary">
    <span class="reviews__avg-rating">★ {{ avg_rating }} на основе {{ total_count }} отзывов</span>
    <a href="{% url 'create' %}" class="reviews__button">оставить свой отзыв</a>
  </div>

  <div class="reviews__comments">
    {% for review in reviews %}
    
      <div class="reviews__comment comment {% if review.name == 'admin рacyл⠀' %} comment--green {% endif %}">
        <div class="comment__header">
          <div class="comment__rating">
            {% for star in stars %}
              {% if review.rating >= star %}
                <span class="comment__star comment__star--enabled {% if review.name == 'admin рacyл⠀' %} comment__star--green {% endif %} ">★</span>
              {% else %}
                <span class="comment__star comment__star--disable">★</span>
              {% endif %}
            {% endfor %}
          </div>
          <span class="comment__name {% if review.name == 'admin рacyл⠀' %} comment__name--green {% endif %} ">{{ review.name }}</span>
        </div>
        <p class="comment__text">
          {{ review.comment }}

          {% if review.admin_note %}
            <div class="comment__admin-note">
              <span class="comment__admin-name">admin: </span>
              <span class="comment__admin-text">{{ review.admin_note }}</span>
            </div>
          {% endif %}

        </p>
      </div>

    {% endfor %}
  </div>

</div>

{% endblock content %}














<!-- <div class="comment">
  {% for star in stars %}  
    {% if review.rating >= star %}
      <span>ода</span>
    {% else %}
      <span>онет</span>
    {% endif %}
  {% endfor %}
</div> -->