{% extends 'base.html' %}
{% load static %}

{% block title %} новости {% endblock %}

{% block content %}
  <div class="news-page">
    <h1 class="news-page__title">новости клуба</h1>
    <div class="news-page__grid">
      {% for card in news %}
      <section class="news-page__item news-card">
        <div class="news-card__image-wrapper">
          <img src="{{ card.image.url }}" alt="картинка новости" class="news-card__image">
        </div>
        <div class="news-card__info">
          <p class="news-card__text">{{ card.content }}</p>
          <a href="{% url 'news_detail' card.slug %}" class="news-card__link">Читать детальнее ></a>
        </div>
      </section>
      {% empty %}
        <p class="news-page__news-empty-text">новостей пока нет</p>
      {% endfor %}
    </div>

    <!-- ПАГИНАЦИЯ -->
    {% if news.has_other_pages %}
    <nav class="news-pagination">
      {% if news.has_previous %} 
        <a href="?page={{ news.previous_page_number }}" class="news-pagination__button">‹</a>
      {% else %}
        <span class="news-pagination__button news-pagination__button--disabled">‹</span>
      {% endif %}

      <span class="news-pagination__info">
        Страница {{ news.number }} из {{ news.paginator.num_pages }}
      </span>

      {% if news.has_next %}
        <a href="?page={{ news.next_page_number }}" class="news-pagination__button">›</a>
      {% else %}
        <span class="news-pagination__button news-pagination__button--disabled">›</span>
      {% endif %}
    </nav>
    {% endif %}

  </div>
{% endblock %}





