@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* ======= БАЗОВЫЕ НАСТРОЙКИ И ПЕРЕМЕННЫЕ ========= */

:root {
    --primary: #FFF400;
    --secondary: #262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary);
}

.wrapper {
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}


/* ============= ХЕДЕР =============== */

.header {
    height: 50px;
    background-color: var(--primary);
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo__image {
    width: 40px;
    height: 25px;
    border-radius: 5px;
}

.logo__title {
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary);
    padding-bottom: 5px;
}

.burger-menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-menu__line {
    height: 5px;
    border-radius: 2px;
    background-color: var(--secondary);
}


/* ================= ФУТЕР ================= */

.footer {
    height: 30px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.contacts-icons {
    display: flex;
    justify-content: space-between;
    min-width: 65px;
    height: 15px;
}

.contacts-icons__img {
    width: 15px;
    height: 15px;
}

.footer-nav {
    min-width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav__link {
    font-size: 10px;
    font-weight: bold;
    color: var(--secondary);
}

.footer-nav__link:hover {
    transform: translateY(-2px);
}


/* =============== АСАЙД МЕНЮ ================ */

.aside {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 85%;
    max-width: 320px;
    background-color: var(--primary);
    border-radius: 20px;
    margin-inline: 30px;
    transition: left 0.3s ease;
    z-index: 10;
    border: solid 1px var(--secondary);
}

.menu {
    padding: 30px;
}

.menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu__link {
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    transition: all 0.3s ease;
}

.menu__link:hover {
    transform: translateX(5px);
}


/* ============== ЛОГИКА АНИМАЦИИ НАВИГАЦИИ =============== */

.burger-toggle {
    display: none;
}

.burger-toggle:checked~.header .burger-menu {
    transform: rotate(360deg);
}

.burger-toggle:checked~.header .burger-menu__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 9px);
}

.burger-toggle:checked~.header .burger-menu__line:nth-child(2) {
    opacity: 0;
}

.burger-toggle:checked~.header .burger-menu__line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -9px);
}

.burger-toggle:checked~.blurblock {
    filter: blur(5px);
}

.burger-toggle:checked~.aside {
    left: 0;
}

.blurblock {
    transition: filter 0.3s ease;
    margin-top: 50px;
}


/* ================ ОСНОВА ==================== */

.main-content {
    border: 1px solid var(--primary);
    padding: 20px;
    padding-bottom: 30px;
    color: var(--primary);
}


/* ============================================== */
/* ======== СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ ========== */
/* ============================================== */


/* === hero === */

.hero {
    margin-bottom: 30px;
}

.hero__container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.hero__info {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-block: 12px 15px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hero__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.hero__text {
    font-size: 10px;
    color: white;
}

/* заменить на стили для картинки */
.hero__image-wrapper {
    width: 50%;
    height: 150px;
    border: solid 1px var(--primary);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__button {
    border: solid 1px var(--primary);
    border-radius: 5px;
    padding-block: 5px 6px;
    padding-inline: 10px;
    display: block;
    width: fit-content;
    margin-inline: auto;
    font-size: 10px;
}

.hero__button:hover {
    background-color: #7c7600;
    color: var(--secondary);
    transition: all 0.3s ease;
}


/* === trainers === */

.trainers {
    margin-bottom: 30px;
}

.trainers__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.trainers__slider {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    border: solid #FFF400 1px;
    margin-bottom: 15px;
}

.trainers__slides-wrapper {
    display: flex;
    transition: transform 0.4s ease;
}

.trainers__slide {
    min-width: 100%;
}

.trainer-card {
    display: flex;
    gap: 20px;
}

.trainer-card__image-wrapper {
    width: 140px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.trainer-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trainer-card__info {
    padding-block: 5px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.trainer-card__name {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
}

.trainer-card__description {
    font-size: 10px;
    line-height: 1.3;
    color: #fff;
}

input[type="radio"] {
    display: none;
}

.trainers__controls {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.trainers__control-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px var(--primary);
    cursor: pointer;
}


/* === contacts === */

.contacts {
    margin-bottom: 30px;
}

.contacts__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
}

.contacts__info {
    padding: 10px 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border: solid 1px var(--primary);
    border-radius: 10px;
}

.contacts__contact {
    display: block;
}

.contacts__post {
    font-size: 12px;
    margin-bottom: 5px;
}

.contacts__name, .contacts__number {
    color: white;
    font-size: 10px;
}

.contacts__name {
    margin-bottom: 2px;
}

.contacts__geotag {
    border: solid 1px var(--primary);
    border-radius: 10px;
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* === gym-gallery === */

.gym-gallery__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.gym-gallery__slider {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
    border-radius: 12px;
    border: solid #FFF400 1px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.gym-gallery__slides-wrapper {
    display: flex;
    transition: transform 0.4s ease;
}

.gym-gallery__slide {
    min-width: 100%;
}

.gym-gallery__image-wrapper {
    width: 100%;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.gym-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gym-gallery__controls {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.gym-gallery__control-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px var(--primary);
    cursor: pointer;
}


/* @media (min-width: 1024px) {
    .aside {
        height: 100vh;
        width: 25%;
        left: 0;
    }

    .footer {
        display: none;
    }

    .blurblock {
        position: absolute;
        top: 0;
        left: 0;

    }

} */