{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Чемпион - {% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="icon" href="{% static 'images/image.png' %}" type="image/png">

  {% block extra_css_home_page %} {% endblock %}
</head>

<body>

  <div class="wrapper">
    <input type="checkbox" id="burger-toggle" class="burger-toggle">

    <header class="header">
      <a href="{% url 'home' %}" class="header__image-link"><img src="{% static 'images/image.png' %}" class="header__image" alt="лого"></a>
      <a class="header__content" href="{% url 'home' %}">
        <span class="header__title">чемпион</span>
        <span class="header__subtitle">спортивный клуб</span>
      </a>
      <a href="{% url 'booking' %}" class="header__booking-button">записаться</a>
      <label for="burger-toggle" class="burger-menu">
        <div class="burger-menu__line"></div>
        <div class="burger-menu__line"></div>
        <div class="burger-menu__line"></div>
      </label>
    </header>

    <aside class="aside">
      <nav class="aside__menu">
        <p class="aside__desktop-logo-component">чемпион<br>школа боевых искусств<br>тхэквондо - бокс - кикбоксинг</p>
        <div class="aside__list">
          {% for link in nav_links %}
              <a href="{% url link.url_name %}" class="aside__link"><i class="{{ link.icon }}"></i> {{ link.title }}</a>
          {% endfor %}
        </div>
        <a href="{% url 'booking' %}" class="aside__button">записаться</a>
      </nav>
    </aside>


    <main class="main-content">
      {% block content %} {% endblock %}
    </main>

    <footer class="footer">
      {% for link in nav_links %}
        <a href="{% url link.url_name %}" class="footer__link">{{ link.title }}</a>
      {% endfor %}
    </footer>

  </div>
  <script src="https://kit.fontawesome.com/cecf21d759.js" crossorigin="anonymous" defer></script>
</body>

</html>